<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lzt.xiaodai.cn.mapper.TImageMapper">
  <resultMap id="BaseResultMap" type="lzt.xiaodai.cn.entity.TImage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="front_url" jdbcType="VARCHAR" property="frontUrl" />
    <result column="back_url" jdbcType="VARCHAR" property="backUrl" />
    <result column="family_url_" jdbcType="VARCHAR" property="familyUrl" />
    <result column="extends_1" jdbcType="VARCHAR" property="extends1" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, front_url, back_url, family_url_, extends_1
  </sql>
  <select id="selectByExample" parameterType="lzt.xiaodai.cn.entity.TImageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_image
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_image
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="lzt.xiaodai.cn.entity.TImageExample">
    delete from t_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="lzt.xiaodai.cn.entity.TImage">
    insert into t_image (id, front_url, back_url, 
      family_url_, extends_1)
    values (#{id,jdbcType=INTEGER}, #{frontUrl,jdbcType=VARCHAR}, #{backUrl,jdbcType=VARCHAR}, 
      #{familyUrl,jdbcType=VARCHAR}, #{extends1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lzt.xiaodai.cn.entity.TImage">
    insert into t_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="frontUrl != null">
        front_url,
      </if>
      <if test="backUrl != null">
        back_url,
      </if>
      <if test="familyUrl != null">
        family_url_,
      </if>
      <if test="extends1 != null">
        extends_1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="frontUrl != null">
        #{frontUrl,jdbcType=VARCHAR},
      </if>
      <if test="backUrl != null">
        #{backUrl,jdbcType=VARCHAR},
      </if>
      <if test="familyUrl != null">
        #{familyUrl,jdbcType=VARCHAR},
      </if>
      <if test="extends1 != null">
        #{extends1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="lzt.xiaodai.cn.entity.TImageExample" resultType="java.lang.Long">
    select count(*) from t_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_image
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.frontUrl != null">
        front_url = #{record.frontUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.backUrl != null">
        back_url = #{record.backUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.familyUrl != null">
        family_url_ = #{record.familyUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.extends1 != null">
        extends_1 = #{record.extends1,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_image
    set id = #{record.id,jdbcType=INTEGER},
      front_url = #{record.frontUrl,jdbcType=VARCHAR},
      back_url = #{record.backUrl,jdbcType=VARCHAR},
      family_url_ = #{record.familyUrl,jdbcType=VARCHAR},
      extends_1 = #{record.extends1,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="lzt.xiaodai.cn.entity.TImage">
    update t_image
    <set>
      <if test="frontUrl != null">
        front_url = #{frontUrl,jdbcType=VARCHAR},
      </if>
      <if test="backUrl != null">
        back_url = #{backUrl,jdbcType=VARCHAR},
      </if>
      <if test="familyUrl != null">
        family_url_ = #{familyUrl,jdbcType=VARCHAR},
      </if>
      <if test="extends1 != null">
        extends_1 = #{extends1,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="lzt.xiaodai.cn.entity.TImage">
    update t_image
    set front_url = #{frontUrl,jdbcType=VARCHAR},
      back_url = #{backUrl,jdbcType=VARCHAR},
      family_url_ = #{familyUrl,jdbcType=VARCHAR},
      extends_1 = #{extends1,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>