<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lzt.xiaodai.cn.mapper.TRegisterMapper">
  <resultMap id="BaseResultMap" type="lzt.xiaodai.cn.entity.TRegister">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="passoword" jdbcType="VARCHAR" property="passoword" />
    <result column="extend_1" jdbcType="VARCHAR" property="extend1" />
    <result column="extend_2" jdbcType="VARCHAR" property="extend2" />
    <result column="extend_3" jdbcType="VARCHAR" property="extend3" />
    <result column="extend_4" jdbcType="VARCHAR" property="extend4" />
    <result column="extend_5" jdbcType="VARCHAR" property="extend5" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, phone, passoword, extend_1, extend_2, extend_3, extend_4, extend_5
  </sql>
  <select id="selectByExample" parameterType="lzt.xiaodai.cn.entity.TRegisterExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_register
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_register
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_register
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="lzt.xiaodai.cn.entity.TRegisterExample">
    delete from t_register
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="lzt.xiaodai.cn.entity.TRegister">
    insert into t_register (id, phone, passoword, 
      extend_1, extend_2, extend_3, 
      extend_4, extend_5)
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{passoword,jdbcType=VARCHAR}, 
      #{extend1,jdbcType=VARCHAR}, #{extend2,jdbcType=VARCHAR}, #{extend3,jdbcType=VARCHAR}, 
      #{extend4,jdbcType=VARCHAR}, #{extend5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lzt.xiaodai.cn.entity.TRegister">
    insert into t_register
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="passoword != null">
        passoword,
      </if>
      <if test="extend1 != null">
        extend_1,
      </if>
      <if test="extend2 != null">
        extend_2,
      </if>
      <if test="extend3 != null">
        extend_3,
      </if>
      <if test="extend4 != null">
        extend_4,
      </if>
      <if test="extend5 != null">
        extend_5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="passoword != null">
        #{passoword,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null">
        #{extend4,jdbcType=VARCHAR},
      </if>
      <if test="extend5 != null">
        #{extend5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="lzt.xiaodai.cn.entity.TRegisterExample" resultType="java.lang.Long">
    select count(*) from t_register
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_register
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.passoword != null">
        passoword = #{record.passoword,jdbcType=VARCHAR},
      </if>
      <if test="record.extend1 != null">
        extend_1 = #{record.extend1,jdbcType=VARCHAR},
      </if>
      <if test="record.extend2 != null">
        extend_2 = #{record.extend2,jdbcType=VARCHAR},
      </if>
      <if test="record.extend3 != null">
        extend_3 = #{record.extend3,jdbcType=VARCHAR},
      </if>
      <if test="record.extend4 != null">
        extend_4 = #{record.extend4,jdbcType=VARCHAR},
      </if>
      <if test="record.extend5 != null">
        extend_5 = #{record.extend5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_register
    set id = #{record.id,jdbcType=INTEGER},
      phone = #{record.phone,jdbcType=VARCHAR},
      passoword = #{record.passoword,jdbcType=VARCHAR},
      extend_1 = #{record.extend1,jdbcType=VARCHAR},
      extend_2 = #{record.extend2,jdbcType=VARCHAR},
      extend_3 = #{record.extend3,jdbcType=VARCHAR},
      extend_4 = #{record.extend4,jdbcType=VARCHAR},
      extend_5 = #{record.extend5,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="lzt.xiaodai.cn.entity.TRegister">
    update t_register
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="passoword != null">
        passoword = #{passoword,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        extend_1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        extend_2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        extend_3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null">
        extend_4 = #{extend4,jdbcType=VARCHAR},
      </if>
      <if test="extend5 != null">
        extend_5 = #{extend5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="lzt.xiaodai.cn.entity.TRegister">
    update t_register
    set phone = #{phone,jdbcType=VARCHAR},
      passoword = #{passoword,jdbcType=VARCHAR},
      extend_1 = #{extend1,jdbcType=VARCHAR},
      extend_2 = #{extend2,jdbcType=VARCHAR},
      extend_3 = #{extend3,jdbcType=VARCHAR},
      extend_4 = #{extend4,jdbcType=VARCHAR},
      extend_5 = #{extend5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>